body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #AD617D; 
    font-family: creamer_sodaregular;
}

@font-face {
    font-family: 'creamer_sodaregular';
    src: url('./files/creamer_soda-webfont.woff2') format('woff2'),
         url('./files/creamer_soda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.bubble-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bubble {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    transition: transform 0.3s;
}

.twitter {
    background-color: #1DA1F2;
}

.youtube {
    background-color: #FF0000;
}

.twitch {
    background-color: #9146FF;
}

.bluesky {
    background-color: #00A3E0;
}

.github {
    background-color: #333;
}

.speedrun {
    background-color: #ffd700;
}

.bubble:hover {
    transform: scale(1.5);
}
